<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small bg-dark">
            <div class="text-muted text-center text-light">Tüm Haklar Saklıdır &amp Abdullah Balıkçı</div>
            
        </div>
    </div>
</footer>