

@{

	Layout = "_Layout";
	ViewBag.Title = "Cok yakında";
}

<section id="blog">
    <div class="container">
      
        <h6 class="section-title mb-6 text-center">Blog Yazıları</h6>

        <div class="row">
            <div class="col-md-4">
                <div class="card blog-post my-4 my-sm-5 my-md-0">
                    <img src="~/BlogThema/assets/imgs/blog-1.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                    <div class="card-body">
                        <div class="details mb-3">
                            <a href="javascript:void(0)"><i class="ti-comments"></i> 123</a>
                            <a href="javascript:void(0)"><i class="ti-eye"></i> 123</a>
                        </div>
                        <h5 class="card-title">Possimus aliquam veniam</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae laudantium dolor nisi obcaecati, non laboriosam asperiores doloremque tempora repellendus iure!</p>
                        <a href="javascript:void(0)" class="d-block mt-3">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card blog-post my-4 my-sm-5 my-md-0">
                    <img src="~/BlogThema/assets/imgs/blog-2.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                    <div class="card-body">
                        <div class="details mb-3">
                            <a href="javascript:void(0)"><i class="ti-comments"></i> 434</a>
                            <a href="javascript:void(0)"><i class="ti-eye"></i> 987</a>
                        </div>
                        <h5 class="card-title">Repudiandae laudantium</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae laudantium dolor nisi obcaecati, non laboriosam asperiores doloremque tempora repellendus iure!</p>
                        <a href="javascript:void(0)" class="d-block mt-3">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card blog-post my-4 my-sm-5 my-md-0">
                    <img src="~/BlogThema/assets/imgs/blog-3.jpg" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, Creative studio Landing page">
                    <div class="card-body">
                        <div class="details mb-3">
                            <a href="javascript:void(0)"><i class="ti-comments"></i> 164</a>
                            <a href="javascript:void(0)"><i class="ti-eye"></i> 425</a>
                        </div>
                        <h5 class="card-title">Laboriosam asperiores</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae laudantium dolor nisi obcaecati, non laboriosam asperiores doloremque tempora repellendus iure!</p>
                        <a href="javascript:void(0)" class="d-block mt-3">Read More...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
